body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
}

.header {
    background-color: #111;
    padding: 10px 2%; 
    text-align: center;
}

.section {
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    text-align: center;
}

.course {
    background-color: #2a2a2a;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.course i {
    font-size: 48px;
    margin-bottom: 20px;
}

.course h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.course p {
    margin-bottom: 20px;
}

.cta-button {
    background-color: #4caf50;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #45a049;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2%; 
    background-color: #1E1E1E;
}

.boton-iniciar-sesion {
    background-color: #535353;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.boton-registrar {
    background-color: #a35252;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.logo {
    order: 0;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav {
    order: 1;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #A9A9A9;
}
